In [1]:
import pandas as pd

In [2]:
%matplotlib inline

In [3]:
from sklearn import linear_model, datasets
import numpy as np

In [4]:
from sklearn.metrics import accuracy_score, mean_squared_error
import matplotlib.pyplot as plt

In [5]:
file = pd.read_csv('../brooklyn-housing/brooklyntrainsetconvert.csv')

C:\Users\User\Miniconda3\envs\py36\lib\site-packages\IPython\core\interactiveshell.py:2785: DtypeWarning: Columns (42,43,45,47,49,88) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [6]:
file.head()

,Unnamed: 0,Unnamed: 0.1,X,borough,neighborhood,building_class_category,tax_class,block,lot,easement,...,EDesigNum,APPBBL,APPDate,PLUTOMapID,FIRM07_FLA,PFIRM15_FL,Version,MAPPLUTO_F,SHAPE_Leng,SHAPE_Area
0,0,3,3,3,BROOKLYN HEIGHTS,0,4,204,1,NaN,...,NaN,0.0,NaN,1.0,NaN,NaN,17V1.1,0.0,890.718521,34656.447240
1,1,6,6,3,WILLIAMSBURG-SOUTH,1,4,2428,1,NaN,...,E-337,0.0,NaN,1.0,NaN,NaN,17V1.1,0.0,1006.337999,58564.864312
2,2,7,7,3,BROOKLYN HEIGHTS,2,4,250,44,NaN,...,NaN,0.0,NaN,1.0,NaN,NaN,17V1.1,0.0,460.031680,12947.145471
3,3,10,10,3,NAVY YARD,3,4,1876,1,NaN,...,NaN,0.0,NaN,1.0,NaN,NaN,17V1.1,0.0,1565.914773,118754.785737
4,4,11,11,3,WILLIAMSBURG-NORTH,4,4,2287,16,NaN,...,E-138,0.0,NaN,1.0,1.0,1.0,17V1.1,0.0,1031.123666,63814.710780

In [7]:
copy = file.copy(deep=True)
copy = copy.drop(['apartment_number', 'APPBBL', 'Unnamed: 0', 'SHAPE_Leng', 'SHAPE_Area', 'Sanborn','X'], axis=1, inplace = True)
copy.head()

AttributeError: 'NoneType' object has no attribute 'head'

In [ ]:
copy = copy[copy.sale_price != 0]
copy = copy.loc[:, copy.isnull().mean() < .8]

In [ ]:
copy.dropna(inplace = True)
len(copy)

In [ ]:
df_train_labels = copy['sale_price']
train_features = copy.drop(['sale_price'], axis = 1)
df_train_features = train_features.select_dtypes(include=['int','float'])
# train_features.head()
# print(len(train_features))

In [ ]:
def brute_force_reg(data_in, target, split = 0.8):
    num_row = int(np.ma.size(data_in, 0) * split)
    num_col = int(np.ma.size(data_in, 1))
    train_x = data_in[0:num_row]
    train_y = target[0:num_row]
    test_x = data_in[num_row:]
    test_y = target[num_row:]
    
    '''
    # column-wise regression
    x_entries = []
    y_entries = []
    count = -1
    for column_x in train_x:
        count = count + 1
        reg = linear_model.LinearRegression()
        reg.fit(train_x[column_x].values.reshape(-1, 1), train_y.values.reshape(-1, 1))
        pred = reg.predict(test_x[column_x].values.reshape(-1, 1))
        print("{} {}".format(column_x, mean_squared_error(y_pred=pred, y_true=test_y)))
        x_entries.append(count)
        y_entries.append(mean_squared_error(y_pred=pred, y_true=test_y))

    print(x_entries)
    print(y_entries)
    print("Min Min Sqr Error: {}".format(min(y_entries)))
    plt.figure()
    plt.plot(x_entries, y_entries)
    '''
    
    # overall regression
#     reg = linear_model.LinearRegression()
#     reg.fit(train_x.values.reshape(-1, 1), train_y.values.reshape(-1, 1))
#     pred = reg.predict(test_x[column_x].values.reshape(-1, 1))
#     print("{} {}".format(column_x, mean_squared_error(y_pred=pred, y_true=test_y)))

In [ ]:
# brute_force_reg(test_data, target_data)

In [ ]:
df_train_features = np.array(df_train_features)
df_train_labels = np.array(df_train_labels)
test_features = df_train_features[-10000:,:]
test_labels = df_train_labels[-10000:]
df_train_labels = df_train_labels[:50000]
df_train_features = df_train_features[:50000,:]

In [ ]:
# Import the model we are using
from sklearn.ensemble import RandomForestRegressor
# Instantiate model with 1000 decision trees
rf = RandomForestRegressor(n_estimators = 1000, random_state = 0, max_depth = 2)
# Train the model on training data
rf.fit(df_train_features, df_train_labels)
print("DONE")

In [ ]:
print(rf.feature_importances_)

In [ ]:
train_features.head()

In [ ]:
len(test_features)
predictions = rf.predict(test_features)
errors = abs(predictions - test_labels)
print('Mean Absolute Error:', round(np.mean(errors), 2))